/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /* Fine Reset */

.main-wrapper {
  padding: 1%;
}
/* Inizio City */
.city {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 1vh;
  box-shadow: 5px 5px;
}

.city .filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.city h2 {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Sfondi */
.milano {
  background-image: url(../img/milano.jpg);
}

.napoli {
  background-image: url(../img/napoli.jpg);
}

.roma {
  background-image: url(../img/roma.jpg);
}
/* Fine Sfondi */

/* Fine City */
